body {
  background-color: antiquewhite;
}

.img-croissant {
  max-width: 200px;
  margin: 25px;
}

.column{
  max-width: 50%;
}

.contact-form{
    display: flex;m
    justify-content: center;
    align-items: center;
    height: 60vh;
}
